.leaflet-container {
    height: 600px;
    width: 80vw;
    align-self: center;
    grid-row: 4;
}

@media only screen and (max-width: 768px) {
    .leaflet-container {
        width: 100vw;
        height: 400px;
        align-self: center;
        margin-bottom: 25px;
    }
}