.leaflet-container {
    height: 600px;
    width: 45vw;
    grid-column: 1;
    grid-row: 4;
}

@media only screen and (max-width: 768px) {
    .leaflet-container {
        width: 90vw;
        height: 400px;
        align-self: center;
        margin-bottom: 25px;
    }
}